.btn{
    padding:15px;
    background-color: #DB241E;
    font-size: 15px;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    cursor: pointer;
}