.Mui-selected {
    color: #DB241E !important;
}
.MuiTabs-indicator{
    background-color: #DB241E !important; 
    left: 0 !important;
    width: 3px !important;
}
button{
    text-transform: none !important;
    align-items: flex-start !important;
}

@media (max-width: 500px){
    .tabPanel{
        flex-direction: column;
    }
    .adddish{
        flex-wrap: wrap;
    }
}