.active{
    font-weight: 600;
}
.active::after{
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 3px;
    background-color: #DB241E;
}